<header>
  <h1>AI Finance</h1>
  <p><a href="" target="_blank"> O que é o AI Finance?</a> </p>
</header>
<main>
  <section>
    <form>
      <label>Email</label>
      <input type="email" name="email" placeholder="Digite seu email" required>
      <br>
      <label>Senha</label>
      <input type="password" name="password" placeholder="Digite sua senha" required>
      <br>
      <p><a href="" target="_blank">Criar conta</a></p>
    </form>
  </section>
</main>
<footer>
  <p>&copy; AI Finance. Todos os direitos reservados.</p>
</footer>
